
.question{
    text-align: center;
}

.option{
    border: 1px solid black;
    width: 50%;
    margin: auto
}

.option:hover{
    background-color:yellow;
}

.selected{
    background-color: grey !important;
}

.right{
    background-color: green;
}

.wrong{
    background-color: red;
}